/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* COLORS */

/* FONT WEIGHTS */

/* FONT STACKS */

/* BASE STYLES */

/* TYPOGRAPHY */

/* THEME */

/* MEDIA QUERIES */

.em { font-style: italic; }

strong { font-weight: 700; }

h1, h2, h3, h4, h5, h6 {
  color: rgb(42, 43, 43);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 0.5em;
}

h1 { font-size: 32px; }

h2 { font-size: 26px; }

h3 { font-size: 24px; }

h4 { font-size: 22px; }

h5 { font-size: 20px; }

h6 { font-size: 16px; }

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  color: rgb(230, 230, 230);
  font-weight: 400;
}

h1 small { font-size: 28px; }

h2 small { font-size: 22.75px; }

h3 small { font-size: 21px; }

h4 small { font-size: 19.25px; }

h5 small { font-size: 17.5px; }

h6 small { font-size: 14px; }

@media (min-width: 48em) {
  h1 { font-size: 48px; }
  h2 { font-size: 40px; }
  h3 { font-size: 31px; }
  h4 { font-size: 25px; }
  h5 { font-size: 20px; }
  h6 { font-size: 16px; }

  h1 small { font-size: 42px; }
  h2 small { font-size: 35px; }
  h3 small { font-size: 27.125px; }
  h4 small { font-size: 21.875px; }
  h5 small { font-size: 17.5px; }
  h6 small { font-size: 14px; }
}

p {
  color: inherit;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  max-width: 30em;
}

.code {
  font-family: "Consolas", "Courier New", mono;
}

ul, .ul {
  list-style-type: disc;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #2b3543;
  font-family: "Roboto", sans-serif;
  color: rgb(73, 73, 73);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.container {
  margin: 0 auto;
  max-width: 1040px;
  padding: 0 20px;
  max-width: 64em;
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

.main-container {
  padding-left: 2px;
}

header {
  padding: 10px 0;
}

footer {
  background: #dedede;
  padding: 20px 0;
  text-align: center;
}

footer p {
  margin: 0;
  max-width: 100%;
}

.portal {
  background: url('../../assets/img/logo2.png') no-repeat top center;
  -webkit-background-size: contain;
          background-size: contain;
  display: block;
  height: 45px;
  margin-left: 30px;
  text-indent: -9999em;
}

textarea:focus, input:focus{
    outline: none;
}

input[type=text] {
  padding: 5px;
}

*:focus {
    outline: none;
}

.content-wrapper {
}

.hero {
  color: #fff;
  text-align: center;
}

.hero h1,
.hero h3 {
  color: #fff;
}

.hero-content {
  padding: 40px 0;
}

.content {
  background: #eee;
  color: inherit;
  margin: 2em 0 0;
  padding: 20px 0;
  text-align: center;

  box-sizing: border-box;

  width: 100%;
}

.content-features-container:after {
  content: '';
  display: block;
  clear: both;
}

.content-feature {
  box-sizing: border-box;
  width: 100%;
}

@media (min-width: 48em) {
  .content-feature {
    display: block;
    float: left;
    margin-right: 2.35765160%;
    width: 31.76156560%;
  }
  .content-feature:last-child {
    margin-right: 0;
  }
}

.content-icon {
  background: no-repeat center center;
  -webkit-background-size: contain;
          background-size: contain;
  display: block;
  margin: 20px auto;
  height: 120px;
  padding: 20px;
  max-width: 120px;
}

.content-icon-vote {
  background-image: url('../img/vote-check.png');
}

.content-icon-graph {
  background-image: url('../img/graph.png');
}

.content-icon-list {
  background-image: url('../img/list.png');
}

.start-container {
  background-color: rgba(255, 255, 255, 0.09999999999999998);
  border-radius: 20px;
  color: inherit;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
}

@media (min-width: 35.5em) {
  .start-container {
    display: block;
    float: left;
    margin-right: 2.35765160%;
    width: 48.82117420%;
    margin-left: 25.58941290%;
  }
  .start-container:last-child {
    margin-right: 0;
  }
}

.voters {
  text-align: center;
  font-weight: bold;
  font-size: 100px;
  line-height: 100px;
  display: inline-block;
  margin-bottom: 0;
}

.btn-container {
  display: inline-block;
  line-height: 100px;
}

.btn {
  background-color: transparent;
  border: solid 1px #7cb5ec;
  color: #7cb5ec;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.btn:hover {
  background-color: #7cb5ec;
  color: #fff;
}

.btn-circle {
  border: 1px solid #7cb5ec;
  border-radius: 50%;
  display: inline-block;
  font-size: 33px;
  font-weight: bold;
  height: 50px;
  margin: 0 10px;
  margin-bottom: 50px;
  vertical-align: top;
  width: 50px;
}

.btn-go {
  border-radius: 5px;
  color: #7cb5ec;
  font-size: 1.5em;
  display: block;
  margin: auto;
  text-align: center;
  padding: 15px 2em;
}

.hc-chart {
  position: relative;
  margin: 0 auto;
  width: 500px;
}

.task-form {
  width: 200px;
  font-size: 21px;
  font-weight: 200;
  margin: 0 0 0 5px;
}

.task-list {
  text-align: left;
  margin: 0 0 0 5px;
  line-height: 21px;
}

.taskMenu {
  width: 225px;
  float: left;
}

.chartBox {
  width: 510px;
}

.completedTasks {
  width: 185px;
  float: right;
}

/*.header-title a {
  text-align: center !important;
  color: #7cb5ec;
  font-size: 36px !important;
  letter-spacing: 15px;
  font-weight: bold;
  color: #669999;
  margin-top: -13px;
}*/

.navbar-header {
  /*margin: 0;*/
  text-align: center;
  float: none;
}

.header-title {
  text-align: center;
  color: rgb(124, 181, 236);
  font-size: 40px;
  letter-spacing: 15px;
  font-weight: bold;
}

.header-title:hover {
  text-align: center;
  text-decoration: none;
  color: rgb(124, 181, 236);
  font-size: 40px;
  letter-spacing: 15px;
  font-weight: bold;
}

.vote {
/*  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;*/
  /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
  text-align: center;
  color: rgb(124, 181, 236);
  background-color: #eee;
  font-size: 33px;
  line-height: 33px;
  font-weight: bold;
  width: 70px;
  height: 40px;
  /*border-radius: 2px;*/
  display: inline-block;
  margin: auto;
  /*border: 0px solid #7cb5ec;*/
  border: 0px;
  border-radius: 2px;
  padding: 0 0 0px 0;
  margin: 0px 5px 0 0;
}

.vote:hover {
  color: #fff;
  background-color: rgb(124, 181, 236);
  border-radius: 2px;
}

.voting-buttons {
  display: block;
  float: left;
}

.one {
  margin-left: 48px;
}

.two {
  margin-left: 15px;
}

.three {
  margin-left: 13px;
}

.four {
  margin-left: 13px;
}

.five {
  margin-left: 13px;
}

.plusMinus:active {
  background-color: #7cb5ec;
  color: #eee;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

/*.vote:hover {
    background-color: #7cb5ec;
    color: #eee;
}*/

.reset {  
/*  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;*/
  display: block;
  margin: auto;
  width: 175px;
  text-align: center;
  font-style: italic;
  color: #7cb5ec;
  background-color: #eee;
  border-radius: 25px;
  border: 1px solid #7cb5ec;
  margin-top: 50px;
  margin-bottom: 20px;
}

.reset:active {
  background-color: #7cb5ec;
  color: #eee;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

/*.reset:hover {
    background-color: #7cb5ec;
    color: #eee;
}*/

.yourVoteHead { 
  text-align: center;
  font-size: 18px;
  color: #7cb5ec;
  margin-top: -30px;
}

.groupVoteHead { 
  text-align: center;
  font-size: 25px;
  color: #7cb5ec;
  margin-top: -45px;
}

.yourVote {
  text-align: center;
  color: #eee;
  background: #7cb5ec;
  font-size: 40px;
  padding-top: 12px;
  padding-left: 2px;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  display: block;
  margin: auto;
  border: 1px solid #7cb5ec;
  margin-top: 0px;
  margin-bottom: 40px;
}

.result {
  text-align: center;
  text-transform: uppercase;
  color: #7cb5ec;
  font-size: 115px;
  font-weight: bold;
  padding-top: 43px;
  padding-left: 2px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: block;
  margin: auto;
  border: 1px solid #7cb5ec;
  margin-top: 0px;
  margin-bottom: 40px;
}

.space {
  text-align: center;
  padding-top: 45px;
}

.space2 {
  text-align: center;
  padding-top: 15px;
}

.task-form {
  font-size: 15px;
  margin: 0px 0 0 0;
}

.task-header {
  text-align: left;
}

.task-list {
  font-size: 15px;
  line-height: 9px;
  margin: 13px 0 0 6px;
}

.taskMenu p {
  font-size: 15px;
  line-height: 9px;
  margin: 13px 0 0 6px;
}

.completedTasks p {
  font-size: 15px;
  line-height: 9px;
  margin: 13px 0 0 6px;
}

.result-num {
  float: right;
}

.taskMenu {
  /*grid-column: 3/12;*/
  display: block;
  float: left;
  margin-right: 2.35765160%;
  width: 23.23176130%;
}

.taskMenu:last-child {
  margin-right: 0;
}

.chartDiv {
  /*grid-column: 6/12;*/
  display: block;
  float: left;
  margin-right: 2.35765160%;
  width: 48.82117420%;
}

.chartDiv:last-child {
  margin-right: 0;
}

.completedTasks {
  font-size: 11px !important;
  text-align: left;
  /*grid-column: 3/12 !last;*/
  display: block;
  float: left;
  margin-right: 2.35765160%;
  width: 23.23176130%;
}

.completedTasks:last-child {
  margin-right: 0;
}
