@import '_reset';
@import '_variables';
@import '_typography';

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: $body-bg;
  font-family: $base-font-stack;
  color: $base-font-color;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
}

.container {
  margin: 0 auto;
  max-width: $max-width;
  padding: 0 20px;
  @neat-outer-container;
}

.main-container {
  padding-left: 2px;
}

header {
  padding: 10px 0;
}

footer {
  background: #dedede;
  padding: 20px 0;
  text-align: center;
}

footer p {
  margin: 0;
  max-width: 100%;
}

.portal {
  background: url('../../assets/img/logo2.png') no-repeat top center;
  background-size: contain;
  display: block;
  height: 45px;
  margin-left: 30px;
  text-indent: -9999em;
}

textarea:focus, input:focus{
    outline: none;
}

input[type=text] {
  padding: 5px;
}

*:focus {
    outline: none;
}

.content-wrapper {
}

.hero {
  color: #fff;
  text-align: center;
}

.hero h1,
.hero h3 {
  color: #fff;
}

.hero-content {
  padding: 40px 0;
}

.content {
  background: #eee;
  color: inherit;
  margin: 2em 0 0;
  padding: 20px 0;
  text-align: center;

  @neat-fill-parent;
}

.content-features-container {
  clear:fix;
}

.content-feature {
  @neat-fill-parent;
}

@media (--medium) {
  .content-feature {
    @neat-span-columns 4;
  }
}

.content-icon {
  background: no-repeat center center;
  background-size: contain;
  display: block;
  margin: 20px auto;
  height: 120px;
  padding: 20px;
  max-width: 120px;
}

.content-icon-vote {
  background-image: url('../img/vote-check.png');
}

.content-icon-graph {
  background-image: url('../img/graph.png');
}

.content-icon-list {
  background-image: url('../img/list.png');
}

.start-container {
  background-color: color(#fff a(-90%));
  border-radius: 20px;
  color: inherit;
  padding: 20px;
  @neat-fill-parent;
}

@media (--small) {
  .start-container {
    @neat-span-columns 6;
    @neat-shift 3;
  }
}


.voters {
  text-align: center;
  font-weight: bold;
  font-size: 100px;
  line-height: 100px;
  display: inline-block;
  margin-bottom: 0;
}

.btn-container {
  display: inline-block;
  line-height: 100px;
}

.btn {
  background-color: transparent;
  border: solid 1px $blue;
  color: $blue;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease-out;
}

.btn:hover {
  background-color: $blue;
  color: #fff;
}

.btn-circle {
  border: 1px solid $blue;
  border-radius: 50%;
  display: inline-block;
  font-size: 33px;
  font-weight: bold;
  height: 50px;
  margin: 0 10px;
  margin-bottom: 50px;
  vertical-align: top;
  width: 50px;
}


.btn-go {
  border-radius: 5px;
  color: $blue;
  font-size: 1.5em;
  display: block;
  margin: auto;
  text-align: center;
  padding: 15px 2em;
}


.hc-chart {
  position: relative;
  margin: 0 auto;
  width: 500px;
}

.task-form {
  width: 200px;
  font-size: 21px;
  font-weight: 200;
  margin: 0 0 0 5px;
}

.task-list {
  text-align: left;
  margin: 0 0 0 5px;
  line-height: 21px;
}

.taskMenu {
  width: 225px;
  float: left;
}

.chartBox {
  width: 510px;
}

.completedTasks {
  width: 185px;
  float: right;
}

/*.header-title a {
  text-align: center !important;
  color: $blue;
  font-size: 36px !important;
  letter-spacing: 15px;
  font-weight: bold;
  color: #669999;
  margin-top: -13px;
}*/

.navbar-header {
  /*margin: 0;*/
  text-align: center;
  float: none;
}

.header-title {
  text-align: center;
  color: rgb(124, 181, 236);
  font-size: 40px;
  letter-spacing: 15px;
  font-weight: bold;
}

.header-title:hover {
  text-align: center;
  text-decoration: none;
  color: rgb(124, 181, 236);
  font-size: 40px;
  letter-spacing: 15px;
  font-weight: bold;
}

.vote {
/*  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;*/
  /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
  text-align: center;
  color: rgb(124, 181, 236);
  background-color: #eee;
  font-size: 33px;
  line-height: 33px;
  font-weight: bold;
  width: 70px;
  height: 40px;
  /*border-radius: 2px;*/
  display: inline-block;
  margin: auto;
  /*border: 0px solid $blue;*/
  border: 0px;
  border-radius: 2px;
  padding: 0 0 0px 0;
  margin: 0px 5px 0 0;
}

.vote:hover {
  color: #fff;
  background-color: rgb(124, 181, 236);
  border-radius: 2px;
}

.voting-buttons {
  display: block;
  float: left;
}

.one {
  margin-left: 48px;
}

.two {
  margin-left: 15px;
}

.three {
  margin-left: 13px;
}

.four {
  margin-left: 13px;
}

.five {
  margin-left: 13px;
}

.plusMinus:active {
  background-color: $blue;
  color: #eee;
  transform: translateY(0px);
}

/*.vote:hover {
    background-color: $blue;
    color: #eee;
}*/

.reset {  
/*  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;*/
  display: block;
  margin: auto;
  width: 175px;
  text-align: center;
  font-style: italic;
  color: $blue;
  background-color: #eee;
  border-radius: 25px;
  border: 1px solid $blue;
  margin-top: 50px;
  margin-bottom: 20px;
}

.reset:active {
  background-color: $blue;
  color: #eee;
  transform: translateY(0px);
}

/*.reset:hover {
    background-color: $blue;
    color: #eee;
}*/

.yourVoteHead { 
  text-align: center;
  font-size: 18px;
  color: $blue;
  margin-top: -30px;
}

.groupVoteHead { 
  text-align: center;
  font-size: 25px;
  color: $blue;
  margin-top: -45px;
}

.yourVote {
  text-align: center;
  color: #eee;
  background: $blue;
  font-size: 40px;
  padding-top: 12px;
  padding-left: 2px;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  display: block;
  margin: auto;
  border: 1px solid $blue;
  margin-top: 0px;
  margin-bottom: 40px;
}

.result {
  text-align: center;
  text-transform: uppercase;
  color: $blue;
  font-size: 115px;
  font-weight: bold;
  padding-top: 43px;
  padding-left: 2px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: block;
  margin: auto;
  border: 1px solid $blue;
  margin-top: 0px;
  margin-bottom: 40px;
}

.space {
  text-align: center;
  padding-top: 45px;
}

.space2 {
  text-align: center;
  padding-top: 15px;
}

.task-form {
  font-size: 15px;
  margin: 0px 0 0 0;
}

.task-header {
  text-align: left;
}

.task-list {
  font-size: 15px;
  line-height: 9px;
  margin: 13px 0 0 6px;
}

.taskMenu p {
  font-size: 15px;
  line-height: 9px;
  margin: 13px 0 0 6px;
}

.completedTasks p {
  font-size: 15px;
  line-height: 9px;
  margin: 13px 0 0 6px;
}

.result-num {
  float: right;
}

.taskMenu {
  /*grid-column: 3/12;*/
  @neat-span-columns 3;
}

.chartDiv {
  /*grid-column: 6/12;*/
  @neat-span-columns 6;
}

.completedTasks {
  font-size: 11px !important;
  text-align: left;
  /*grid-column: 3/12 !last;*/
  @neat-span-columns 3;
}
