@import '_variables';
@import '_typography';

@reset-global mobile;

/*body {
  margin: 0px auto;
  position: absolute;
}*/

body {
  background: #2b3543;
}

.main-container {
  padding-left: 2px;
}

.navbar {
  background-color: #2b3543;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 20px 0;
  /*height: 55px;*/
}

.header-title {
  background: url('../../assets/img/logo2.png') no-repeat top center;
  display: block;
  height: 45px;
  text-indent: -9999em;
}


h1 { 
  text-align: center;
  text-transform: uppercase;
}

h3 { 
  text-align: center;
  color: #7cb5ec;
}

textarea:focus, input:focus{
    outline: none;
}

input[type=text] {
  padding: 5px;
}

*:focus {
    outline: none;
}

.content {
  background: #eee;
  border-radius: 10px;
  padding: 20px;
  grid-column: 6/12;
  grid-push: 3/12;
}


.voters {
  text-align: center;
  color: inherit;
  font-weight: bold;
  font-size: 100px;
  line-height: 100px;
  display: inline-block;
  margin-bottom: 0;
  /*margin-top: -25px;
  margin-bottom: -25px;*/
}


.plusMinus {
  text-align: center;
  color: #7cb5ec;
  background-color: #eee;
  font-size: 33px;
  font-weight: bold;
  width: 60px;
  height: 60px;
  display: inline-block;
  margin: 0 20px;
  border: 1px solid #7cb5ec;
  margin-bottom: 50px;
  transition: all 0.3s ease-out;
}


.plusMinus:active {
  background-color: #7cb5ec;
  color: #fff;
}


/*Hover does not work well with mobile*/
.plusMinus:hover {
    background-color: #7cb5ec;
    color: #fff;
}

.go {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
  display: block;
  margin: auto;
  width: 200px;
  text-align: center;
  color: #7cb5ec;
  background-color: #eee;
  font-size: 33px;
  font-weight: bold;
  padding: 15px 20px;
  border: 1px solid #7cb5ec;
}

.go:hover {
    background-color: #7cb5ec;
    color: #eee;
}

.container {
  padding-right: 0px;
  padding-left: 0px;
}

.hc-chart {
  position: relative;
  margin: 0 auto;
  width: 500px;
}

.votebox {
  padding-right: -60px;
  padding-left: -60px;
  margin: auto;
}

.task-form {
  width: 200px;
  font-size: 21px;
  font-weight: 200;
  margin: 0 0 0 5px;
}

.task-list {
  text-align: left;
  margin: 0 0 0 5px;
  line-height: 21px;
}

.taskMenu {
  width: 225px;
  float: left;
}

.chartBox {
  width: 510px;
}

.completedTasks {
  width: 185px;
  float: right;
}

/*.header-title a {
  text-align: center !important;
  color: #7cb5ec;
  font-size: 36px !important;
  letter-spacing: 15px;
  font-weight: bold;
  color: #669999;
  margin-top: -13px;
}*/

.navbar-header {
  /*margin: 0;*/
  text-align: center;
  float: none;
}

.header-title {
  text-align: center;
  color: rgb(124, 181, 236);
  font-size: 40px;
  letter-spacing: 15px;
  font-weight: bold;
}

.header-title:hover {
  text-align: center;
  text-decoration: none;
  color: rgb(124, 181, 236);
  font-size: 40px;
  letter-spacing: 15px;
  font-weight: bold;
}

.vote {
/*  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;*/
  /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
  text-align: center;
  color: rgb(124, 181, 236);
  background-color: #eee;
  font-size: 33px;
  line-height: 33px;
  font-weight: bold;
  width: 70px;
  height: 40px;
  /*border-radius: 2px;*/
  display: inline-block;
  margin: auto;
  /*border: 0px solid #7cb5ec;*/
  border: 0px;
  border-radius: 2px;
  padding: 0 0 0px 0;
  margin: 0px 5px 0 0;
}

.vote:hover {
  color: #fff;
  background-color: rgb(124, 181, 236);
  border-radius: 2px;
}

.voting-buttons {
  display: block;
  float: left;
}

.one {
  margin-left: 48px;
}

.two {
  margin-left: 15px;
}

.three {
  margin-left: 13px;
}

.four {
  margin-left: 13px;
}

.five {
  margin-left: 13px;
}

.plusMinus:active {
  background-color: #7cb5ec;
  color: #eee;
  transform: translateY(0px);
}

/*.vote:hover {
    background-color: #7cb5ec;
    color: #eee;
}*/

.reset {  
/*  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;*/
  display: block;
  margin: auto;
  width: 175px;
  text-align: center;
  font-style: italic;
  color: #7cb5ec;
  background-color: #eee;
  border-radius: 25px;
  border: 1px solid #7cb5ec;
  margin-top: 50px;
  margin-bottom: 20px;
}

.reset:active {
  background-color: #7cb5ec;
  color: #eee;
  transform: translateY(0px);
}

/*.reset:hover {
    background-color: #7cb5ec;
    color: #eee;
}*/

.yourVoteHead { 
  text-align: center;
  font-size: 18px;
  color: #7cb5ec;
  margin-top: -30px;
}

.groupVoteHead { 
  text-align: center;
  font-size: 25px;
  color: #7cb5ec;
  margin-top: -45px;
}

.yourVote {
  text-align: center;
  color: #eee;
  background: #7cb5ec;
  font-size: 40px;
  padding-top: 12px;
  padding-left: 2px;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  display: block;
  margin: auto;
  border: 1px solid #7cb5ec;
  margin-top: 0px;
  margin-bottom: 40px;
}

.result {
  text-align: center;
  text-transform: uppercase;
  color: #7cb5ec;
  font-size: 115px;
  font-weight: bold;
  padding-top: 43px;
  padding-left: 2px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: block;
  margin: auto;
  border: 1px solid #7cb5ec;
  margin-top: 0px;
  margin-bottom: 40px;
}

.space {
  text-align: center;
  padding-top: 45px;
}

.space2 {
  text-align: center;
  padding-top: 15px;
}

.task-form {
  font-size: 15px;
  margin: 0px 0 0 0;
}

.task-header {
  text-align: left;
}

.task-list {
  font-size: 15px;
  line-height: 9px;
  margin: 13px 0 0 6px;
}

.taskMenu p {
  font-size: 15px;
  line-height: 9px;
  margin: 13px 0 0 6px;
}

.completedTasks p {
  font-size: 15px;
  line-height: 9px;
  margin: 13px 0 0 6px;
}

.result-num {
  float: right;
}

.taskMenu {
  grid-column: 3/12;
}

.chartDiv {
  grid-column: 6/12;
}

.completedTasks {
  font-size: 11px !important;
  text-align: left;
  grid-column: 3/12 !last;
}
