@import '_reset';
@import '_variables';
@import '_typography';

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: $body-bg;
  font-family: $base-font-stack;
  color: $base-font-color;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
}

.container {
  clear: fix;
  margin: 0 auto;
  max-width: $max-width;
  padding: 0 20px;
  @neat-outer-container;
}

.main-container {
  margin-left: 9px;
}

.main {
  clear: fix;
  height: 100%;
}

.main > div {
  height: 100%;
}

header {
  padding: 10px 0;
}


footer {
  background: #dedede;
  padding: 20px 0;
  text-align: center;
}

footer p {
  margin: 0;
  max-width: 100%;
}

.menu-button {
  top: 0;
  left: 0;
  float: left;
  width: 50px;
  height:48px;
  position: absolute;
}
.menu-button:hover {
  background-color: color(#2b3543 l(+10%));
  cursor: pointer;
}
.menu-icon {
  margin: 14px 0 0 9px;
}

.screen-fade {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 888;
  background-color: #000;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-out;
  top: 0;
  right: 0;
  bottom:0;
  left: 0;
}
.screen-fade-show {
  visibility: visible;
  opacity: .5;
}

.side-nav {
  left: -90%;
  min-height: 100%;
  width: 90%;
  top: 0;
  position: absolute;
  z-index: 999;
  /*background-color: green;*/
  /*background-color: #2b3543;*/
  background-color: #eee;
  transition: all 0.3s ease-out;
  padding: 10px 0 30px 0;
}
.side-nav-show {
  left: -1px;
}
@media (--medium) {
  .side-nav {
    position: relative;
    left: 0px;
    /*overflow-y: scroll;*/
    /*height: 100%;*/
    /*width: 300px;*/
    @neat-span-columns 4;
  }
  .screen-fade {
    visibility: hidden;
    opacity: 0;
  }
  .menu-button {
    display: none;
  }
  .exit-button {
    display: none;
  }
  header {
    /*@neat-shift 4;*/
  }
  .chartDiv {
    /*@neat-span-columns 10;*/
    /*@neat-shift 1;*/
  }
  .main-container {
    /*@neat-shift 4;*/
    @neat-span-columns 8;
    margin-left: -10px;
  }
}


.exit-button {
  position: relative;
  float: right;
  width: 40px;
  height: 40px;
}
.exit-icon {
  margin: 11px 0 0 7px;
}

.portal {
  background: url('../../assets/img/logo2.png') no-repeat top center;
  background-size: contain;
  display: block;
  height: 45px;
  margin-left: 30px;
  text-indent: -9999em;
}

@media (--medium) {
  .portal {
    margin-left: 0;
  }
}

textarea:focus, input:focus{
    outline: none;
}

input[type=text] {
  padding: 5px;
}

*:focus {
    outline: none;
}

.content-wrapper {
  height: 100%;
}

.hero {
  color: #fff;
  text-align: center;
}

.hero h1,
.hero h3 {
  color: #fff;
}

.hero-content {
  padding: 40px 0;
}

.content {
  background: #eee;
  color: inherit;
  margin: 2em 0 0;
  padding: 20px 0 0;
  text-align: center;

  @neat-fill-parent;
}

.content-features-container {
  clear:fix;
}

.content-feature {
  @neat-fill-parent;
}

@media (--medium) {
  .content-feature {
    @neat-span-columns 4;
  }
}

.content-icon {
  background: no-repeat center center;
  background-size: contain;
  display: block;
  margin: 20px auto;
  height: 120px;
  padding: 20px;
  max-width: 120px;
}

.content-icon-vote {
  background-image: url('../img/vote-check.png');
}

.content-icon-graph {
  background-image: url('../img/graph.png');
}

.content-icon-list {
  background-image: url('../img/list.png');
}

.start-container {
  background-color: color(#fff a(-90%));
  border-radius: 20px;
  color: inherit;
  padding: 20px;
  @neat-fill-parent;
}

@media (--small) {
  .start-container {
    @neat-span-columns 6;
    @neat-shift 3;
  }
}


.voters {
  text-align: center;
  font-weight: bold;
  font-size: 100px;
  line-height: 100px;
  display: inline-block;
  margin-bottom: 0;
}

.btn-container {
  display: inline-block;
  line-height: 100px;
}

.btn {
  background-color: transparent;
  border: solid 1px $blue;
  color: $blue;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease-out;
}

.btn:hover {
  background-color: $blue;
  color: #fff;
}

.btn-circle {
  border: 1px solid $blue;
  border-radius: 50%;
  display: inline-block;
  font-size: 33px;
  font-weight: bold;
  height: 50px;
  margin: 0 10px;
  margin-bottom: 50px;
  vertical-align: top;
  width: 50px;
}


.btn-go {
  border-radius: 5px;
  color: $blue;
  font-size: 1.5em;
  display: block;
  margin: auto;
  text-align: center;
  padding: 15px 2em;
}


.hc-chart {
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.task-form {
  padding: 0 8px 0 8px;
  margin-top: -10px;
}

.task-header {
  padding: 5px 0 0 10px;
  text-align: left;
}

.task-input {
  height: 40px;
  width: 100%;
  font-size: 19px;
  font-weight: 200;
}

.task-list {
  margin: 13px 0 0 18px;
  text-align: left;
  list-style-type: number;
  counter-reset: task-counter;
}

.task::before {
  content: counter(task-counter);
  counter-increment: task-counter;
  background: $blue;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  margin: 10px 10px 10px 0;
  text-align: center;
  width: 30px;
}

.taskMenu {
  width: 225px;
  float: left;
}

.reset-button {
  position: relative;
  width: 250px;
  /*width: @neat-fill-parent;*/
  margin-top: 35px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  font-size: inherit;
  font-weight: 100;
  background-color: #2b3543;
  border: 0px;
  color: white;
  /*letter-spacing: 2px;*/
  border-radius: 5px;
  padding: 15px 25px;
}
.reset-button:hover {
  background-color: color(#2b3543 l(+10%));
  cursor: pointer;
}
@media (--small-medium) {
  .reset-button {
    width: 350px;
  }
}
@media (--medium-large) {
  .reset-button {
    width: 200px;
  }
}

.chartBox {
  width: 510px;
}

.completedTasks {
  width: 185px;
  float: right;
}

/*.header-title a {
  text-align: center !important;
  color: $blue;
  font-size: 36px !important;
  letter-spacing: 15px;
  font-weight: bold;
  color: #669999;
  margin-top: -13px;
}*/

.navbar-header {
  /*margin: 0;*/
  text-align: center;
  float: none;
}

.header-title {
  text-align: center;
  color: rgb(124, 181, 236);
  font-size: 40px;
  letter-spacing: 15px;
  font-weight: bold;
}

.header-title:hover {
  text-align: center;
  text-decoration: none;
  color: rgb(124, 181, 236);
  font-size: 40px;
  letter-spacing: 15px;
  font-weight: bold;
}

.vote-container {
  clear: fix;
  margin: 0 auto;
  max-width: $max-width;
  padding: 0 10px;
  @neat-outer-container;
}

.vote {
/*  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;*/
  /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
  text-align: center;
  color: rgb(124, 181, 236);
  background-color: #eee;
  font-size: 33px;
  line-height: 33px;
  font-weight: bold;
  width: 70px;
  height: 40px;
  display: inline-block;
  margin: auto;
  border: 0px;
  border-radius: 2px;
  padding: 0 0 0px 0;
  margin: 0px 5px 0 0;
}

.vote:hover {
  color: #fff;
  background-color: rgb(124, 181, 236);
  border-radius: 2px;
}

.voting-buttons {
  display: block;
  float: left;
  margin-top: 10px;
  width: 100%;
}

.one {
  margin-left: 32px;
  width: 17%;
}
.one:hover {
  cursor: pointer;
}

.two {
  margin-left: 2px;
  width: 17%;
}
.two:hover {
  cursor: pointer;
}

.three {
  margin-left: 2px;
  width: 17%;
}
.three:hover {
  cursor: pointer;
}

.four {
  margin-left: 2px;
  width: 17%;
}
.four:hover {
  cursor: pointer;
}

.five {
  margin-left: 2px;
  width: 17%;
}
.five:hover {
  cursor: pointer;
}

.plusMinus:active {
  background-color: $blue;
  color: #eee;
  transform: translateY(0px);
}

/*.vote:hover {
    background-color: $blue;
    color: #eee;
}*/

.reset {  
/*  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;*/
  display: block;
  margin: auto;
  width: 175px;
  text-align: center;
  font-style: italic;
  color: $blue;
  background-color: #eee;
  border-radius: 25px;
  border: 1px solid $blue;
  margin-top: 50px;
  margin-bottom: 20px;
}

.reset:active {
  background-color: $blue;
  color: #eee;
  transform: translateY(0px);
}

/*.reset:hover {
    background-color: $blue;
    color: #eee;
}*/

.yourVoteHead { 
  text-align: center;
  font-size: 18px;
  color: $blue;
  margin-top: -30px;
}

.groupVoteHead { 
  text-align: center;
  font-size: 25px;
  color: $blue;
  margin-top: -45px;
}

.yourVote {
  text-align: center;
  color: #eee;
  background: $blue;
  font-size: 40px;
  padding-top: 12px;
  padding-left: 2px;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  display: block;
  margin: auto;
  border: 1px solid $blue;
  margin-top: 0px;
  margin-bottom: 40px;
}

.result {
  text-align: center;
  text-transform: uppercase;
  color: $blue;
  font-size: 115px;
  font-weight: bold;
  padding-top: 43px;
  padding-left: 2px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: block;
  margin: auto;
  border: 1px solid $blue;
  margin-top: 0px;
  margin-bottom: 40px;
}

.space {
  text-align: center;
  padding-top: 45px;
}

.space2 {
  text-align: center;
  padding-top: 15px;
}

.taskMenu p {
  font-size: 15px;
  line-height: 9px;
  margin: 13px 0 0 6px;
}

.completedTasks p {
  font-size: 15px;
  line-height: 9px;
  margin: 13px 0 0 6px;
}

.result-num {
  float: right;
}

.taskMenu {
  /*grid-column: 3/12;*/
  @neat-span-columns 3;
}

.chartDiv {
  width: 100%;
  /*grid-column: 6/12;*/
  /*@neat-span-columns 6;*/
}

.completedTasks {
  font-size: 11px !important;
  text-align: left;
  /*grid-column: 3/12 !last;*/
  @neat-span-columns 3;
}
