<div class="jumbotron text-center">
  <div class='votebox'>
  
    <div ng-controller='TaskController' class='taskMenu'>
      <!-- <form ng-submit='addTopic()' class="task-form"> -->
      <form ng-submit='addSingleTopic()' class="task-form">
        <input type="text" ng-model="topic" class='task-form' placeholder='Task Item' /><br />
      </form>
      <!-- <p class='task-list' ng-repeat='task in taskList track by $index'>{{ task }} | {{ task.code }}</p> -->
      <p class='task-list' ng-repeat='task in taskList track by $index'>{{ task }}</p>
    </div>

    <div ng-controller='VotingController' class='chartDiv'>
      <!-- <div class="hc-chart" data="chartData" title="chartTitle"></div> -->
      <div class="hc-chart" items="chartData" votercount="voterCount" topic='topicItem'></div>
      <button class="vote" ng-click="postVote1()">1</button>
      <button class="vote" ng-click="postVote2()">2</button>
      <button class="vote" ng-click="postVote3()">3</button>
      <button class="vote" ng-click="postVote4()">4</button>
      <button class="vote" ng-click="postVote5()">5</button>
      <button class="reset" ng-click="reset()" ng-show="voteStarter">Reset Voting Session</button>
    </div>
    
    <div ng-controller='TaskController' class='completedTasks'>
      <!-- <p>{{ completedTasks }}</p> -->
      <p class='completedTask-list' ng-repeat='task in completedTasks track by $index'>{{ task }}</p>
    </div>
  
  </div>
</div>