<div class="content-wrapper">
<!-- Menu Button -->
<div class='menu-button' ng-controller='TaskController' ng-click='showSideNav()'>
  <img src='../assets/img/icon-menu.svg' width='30px' height='20px' class='menu-icon' />
</div>

<!-- Side Nav -->
<div class='side-nav' ng-controller='TaskController'>
  <div class='exit-button' ng-click='hideSideNav()'>
    <img src='../assets/img/x.svg' width='20px' height='20px' class='exit-icon' />
  </div>
  <h3 class='task-header'>Task Queue</h3>
  <form ng-submit='addSingleTopic()' class="task-form">
    <input type="text" ng-model="topic" class='task-input' placeholder='Task Item' /><br />
  </form>
  <!-- <p class='task-list' ng-repeat='task in taskList track by $index'>{{ task }} | {{ task.code }}</p> -->
  <!-- <p class='task-list' ng-repeat='task in taskList track by $index'>•  {{ task }}</p> -->
  <ol class='task-list'>
    <li class="task" ng-repeat='task in taskList track by $index'>{{ task }}</li>
  </ol>

  <button class='reset-button' ng-click="reset()">Reset</button>
</div>

<!-- Dims the screen -->
<div class='screen-fade' ng-controller='TaskController' ng-click='hideSideNav()'>
</div>


<div class="main-container">

  <header>
    <div class="container">
      <div title="SprintPal" class="portal">SprintPal</div>
    </div>
  </header>
  
  <div class="vote-container">
  
    <!-- <div ng-controller='TaskController' class='taskMenu'>
      <h5 class='task-header'>Task Queue</h5> -->
      <!-- <form ng-submit='addTopic()' class="task-form"> -->
      <!-- <form ng-submit='addSingleTopic()' class="task-form">
        <input type="text" ng-model="topic" class='task-form' placeholder='Task Item' /><br />
      </form> -->
      <!-- <p class='task-list' ng-repeat='task in taskList track by $index'>{{ task }} | {{ task.code }}</p> -->
      <!-- <p class='task-list' ng-repeat='task in taskList track by $index'>{{ task }}</p>
    </div> -->

    <div ng-controller='VotingController' class='chartDiv'>
      <div class="hc-chart" items="chartData" votercount="voterCount" topic='topicItem'></div>
      
      <div class='voting-buttons'>
        <button class="vote one" ng-click="postVote1()">1</button>
        <button class="vote two" ng-click="postVote2()">2</button>
        <button class="vote three" ng-click="postVote3()">3</button>
        <button class="vote four" ng-click="postVote4()">4</button>
        <button class="vote five" ng-click="postVote5()">5</button>
      </div>
      <button class="reset" ng-click="reset()" ng-show="voteStarter">Reset Voting Session</button>
    </div>
    
    
  </div>
</div>

<!--<div ng-controller='TaskController' class='completedTasks'>
      <h5 class='task-header'>Rated Tasks</h5>
      <p class='task-list-complete' ng-repeat='task in completedTasks track by $index'>{{ task.task }}: <strong class='result-num'>{{ task.result }}</strong></p>
    </div> -->
</div>

    <footer>
      <div class="container">
        <p>&copy; 2016. SprintPal.</p>
      </div>
    </footer> 